.App {
  width: 100%;
  min-height: 100vh;
}

/* Cuerpo 
#body {
  padding: 20px;
}*/

.container {
  max-width: 95%;
  margin: 0 auto;
}

/* Contenedor de la tabla */
.table-container {
  border: 2px solid rgba(175, 14, 110, 0.717);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.row .form-control {
  margin-bottom: 15px;
}

/* Input de búsqueda */
.form-control {
  border-radius: 10px;
  border: 1px solid rgba(175, 14, 110, 0.717);
  padding: 4px 4px 4px 10px;
  margin-left: 15px;
}

/* Botón "Nuevo usuario" */
.btn-primary {
  border-radius: 7px bold;
  font-weight: bold;
  padding: 6px 10px 6px 10px;
  margin-right: 10px;
}

/* Estilos de la tabla */
.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

/* Encabezados de tabla */
.table-light.tr-table th {
  background-color: #e9ecef;
  font-weight: bold;
}

/* Estilos de los botones de acción */
.btn-link {
  color: rgba(175, 14, 110, 0.717);
  text-decoration: none;
}

.btn-link i {
  font-size: 1.2rem;
  margin: 0 5px;
}

.record-selector {
  margin-top: 15px;
  margin-left: 15px; 
  display: flex;
  align-items: center;
  font-size: 16px;
}

.record-selector .dropdown-toggle {
  margin: 0 8px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.record-selector .dropdown-menu {
  min-width: 80px;
}

.record-selector {
  display: flex;
  align-items: center;
}

.record-selector .dropdown-toggle {
  background-color: rgb(199, 14, 143);
  color: white;
}

.page-selector .btn {
  border: none !important; 
  box-shadow: none !important; 
  
}

.btn-group {
  margin-right: 10px;
}

.dropdown-toggle {
  min-width: 50px;
  text-align: center;
}

/* Centrado horizontal y vertical de los títulos (th) */
th {
  text-align: center;
  vertical-align: middle;
}

/* Centrado horizontal y vertical de las celdas (td) */
td {
  text-align: center;
  vertical-align: middle;
}