.conditionalQuestionSelect {
    width: 100%;                /* El select ocupa todo el ancho disponible */
    max-width: 100%;            /* Asegura que no se desborde */
    box-sizing: border-box;      /* Incluye padding y borde en el tamaño */
  }


.shadowbox5{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 12px !important;
}

.modalEditQuestion{
  width: 150% !important;
  

  border: 1px solid rgb(107, 17, 17);
  background-color: rgb(65, 63, 62);
 
}

.btn-outline-warning{
  border: 1px solid rgba(229, 190, 1, 1)  !important;
  color: #292929 !important;

}
