#icon-edit i {
  color: rgb(45, 45, 45);
}

#options button {
  background-color: transparent;
}

#icon {
  background-color: rgb(40, 43, 48);
  border-radius: 100%;
}

#options button:hover, #editClientButton a:hover {
  border-radius: 5px;
  background-color: rgb(214, 10, 170);
  color: white !important;
}

table td,
table th {
  text-align: center;
  background-color: rgba(155, 5, 5, 0.768);
  color: white;
}

table {
  padding: 5%;
  border-radius: 25px;
  width: 100%;
  background-color: rgb(54, 57, 62); /* Fondo de la tabla */
  color: rgb(225, 225, 225); /* Color de texto */
}

.table-hover tbody tr:hover {
  background-color: rgb(209, 209, 209);
  color: rgb(54, 57, 62); /* Color del texto al hacer hover */
}

.table thead {
  top: 0;
  width: 100%;
  background-color: rgb(199, 14, 143);
  color: white;
  z-index: 1; /* Ajusta el índice z para que esté detrás del contenido desplazable */
}


#table {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
              rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 2px solid rgb(199, 14, 143);
  overflow-y: auto;
  width: 100%;
  max-width: 97%;  /* ✅ Limita el ancho */
  margin: 0 auto;     /* ✅ Centra horizontalmente */
  border-radius: 15px;
  height: 100%;
}

#table::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

#table::-webkit-scrollbar-thumb {
  background-color: rgb(39, 38, 39);
  border-radius: 20px;
}

.acces-tabla {
  border: 1px solid rgb(199, 14, 143) !important;
  
  border-radius: 20px;
}

.acces-tabla:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(199, 14, 143);
}

#hr-table {
  margin: 0;
  border-top: 2px solid rgb(199, 14, 143);
}

.inp-search {
  margin: 8px;
  border: 1px solid rgb(199, 14, 143) !important;
  border-radius: 5px;
  background-color: transparent;
  color: #000000;
}

.btn-rect {
  background-color: transparent; /* Fondo transparente por defecto */
  color: rgb(199, 14, 143);
  margin: 2px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-rect button {
  color: rgb(199, 14, 143)
}
.btn-rect button:hover {
  color: white;
}

.btn-dropdown{
  border-radius: 5px ;
}

.btn-rect_delete{
  background-color: transparent; /* Fondo transparente por defecto */
  color: rgb(199, 14, 143);
  padding: 5px 10px;
  margin: 2px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 20px !important;
}
.btn-rect_delete:hover {
  color: white; /* Color del texto al hacer hover */
}

.btn-rect:hover {
  background-color: rgb(199, 14, 143); /* Color de fondo al hacer hover */
  color: white; /* Color del texto al hacer hover */
}

.table-container {
  background-color: white;
  border-radius: 15px;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dropdown-toggle.inp-search {
  background-color: rgb(199, 14, 143);
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgb(214, 10, 170);
  color: white;
}
.label {
  color: rgb(199, 14, 143);
  font-weight: bold;
}

/* ? Poner estilos de botones de tabla survey */
