.small-alert-confirm-button2{
    background-color: rgb(199, 14, 143) !important;
}
.small-alert-confirm-button2:hover{
    background-color: rgb(161, 42, 125);
}

.swal2-container {
  z-index: 20000 !important; /* Asegura que cualquier alerta esté por encima del header y UI */
}

.swal2-container.swal2-top-end,
.swal2-container.swal2-top-start,
.swal2-container.swal2-top,
.swal2-container.swal2-bottom-end,
.swal2-container.swal2-bottom-start,
.swal2-container.swal2-bottom,
.swal2-container.swal2-center,
.swal2-container.swal2-center-start,
.swal2-container.swal2-center-end {
  z-index: 20000 !important;
}